* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0
}

.screen {
    text-align: right;
    font-family: monospace;
    font-size: 40px;
    padding: 15px 5px;
}

.calc {
    width: 400px;
    background-color: black;
    color: white;
}

.calc-button {
    height: 100px;
    width: 25%;
    font-size: 40px;
    background-color: lightgrey;
    border-width: 1px;
    cursor: pointer;
}

.calc-row {
    display: flex;
}

.double {
    width: 50%;
}

.triple {
    width: 75%;
}

.calc-button:hover {
    background-color: lightyellow;
}

.calc-button:active {
    background-color: grey;
}

.calc-button:last-child {
    background-color: orange;
    color: white;
}

.calc-button:last-child:hover {
    background-color: lightpink;
}

.calc-button:last-child:active {
    background-color: lightsalmon;
}
